<div>
  <h1>Hello world Angular!</h1>
  <p>Bem vindo ao Angular! Eu sou o componente pai de todos (app-root)</p>
</div>

<app-first-component/>

<p>O component first-component ficou no meio de mim</p>
<p>Eu também sou pai do componente que vai receber alguns dados meus: o parent-data</p>
<app-parent-data [name]="userName" [dados]="userData"/>

<p>O outro componente que é meu filho é o componente que possui renderização condicional:</p>
<app-if-render></app-if-render>

<p>Outro componente filho meu é o que usa eventos:</p>
<app-eventos></app-eventos>

<p>O componente abaixo possui um componente filho que emitiu algum evento para ele</p>
<app-emitter></app-emitter>